
@font-face {
    font-family: 'Inter';
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1500px;
    margin: 10px auto;
    padding: 40px 100px;
}

ul {
    list-style: none;
}

/* Navbar start */
.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    height: 200px;
}

.navbar_img {
    margin-left: 150px;
    margin-top: -50px;
}

.navbar_ul {
    margin-left: 45px;
    margin-top: -50px;
}

.navbar_a {
    font-family: "Gilroy-SemiBold";
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    word-spacing: 10px;
}

.navbar_a2 {
    position: relative;
    left: 400px;
    top: -20px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #f2994a;
    padding: 8px 25px;
    color: #f2994a;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
}

.navbar_a3 {
    position: relative;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    left: 430px;
    top: -20px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #f2994a;
    padding: 8px 25px;
    color: white;
    background: #f2994a;
    bottom: 100px;
}

/* Navbar the end */
/* Header start */

.header {
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -100px;
}

.header_div {
    width: 530px;
    margin-left: 150px;
}

.header_h1 {
    color: aqua;
    width: 330px;
    margin-bottom: 15px;
}

.header_p {
    width: 330px;
    color: #8476aa;
    margin-bottom: 15px;
}

.btn {
    padding: 13px 30px;
    font-size: 12px;
    background: #f2994a;
    color: white;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    border-style: none;
}

.btn2 {
    padding: 13px 57px;
    font-size: 12px;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    color: #f2994a;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 5px;
    border: 1px solid #f2994a;
    margin-left: 20px;
}

/* Header the end */
/* Header 2 start */
iframe {
    position: relative;
    width: 200px;
    height: 100px;
    margin-left: 130px;
    top: -20px;
}

.header_div2 {
    align-items: center;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}

.header_p2 {
    width: 400px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #8476aa;
    margin-left: 390px;
    margin-top: -100px;
    margin-bottom: 20px;
}

.header_a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6d6d78;
    margin-left: 390px;
    text-decoration: none;
}

.header_img2 {
    width: 1000px;
    margin: 50px auto;
    margin-left: 10%;
}

/* Header 2 the end */
/* Hero start */
.hero {
    background-size: 100px;
    background-repeat: no-repeat;
    background: url('../img/Group\ 9.svg'), linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}

.hero_h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99efd0;
    margin-bottom: 10px;
}

.hero_p {
    text-align: center;
    font-family: "Gilroy-SemiBold";
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #8476aa;
    margin-bottom: 50px;
}

.hero_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero_div2 {
    width: 400px;
    margin-bottom: 45px;
}

.hero_h4 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #99EFD0;
}

.hero_img {
    margin-right: 50px;
    margin-left: -10px;
}

.hero_p2 {
    width: 245px;
    margin-left: 120px;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 22px;
    color: #8476AA;

}

/* Hero the end */
/* Center start */
.center {
    display: flex;
    align-items: center;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);

}

.center_div {
    width: 500px;
}

.center_h3 {
    width: 350px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
    margin-left: 130px;
    padding-top: 150px;
    margin-bottom: 30px;
}

b {
    color: #F2994A;
}

.center_p {
    width: 380px;
    margin-left: 130px;
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #8476AA;
    margin-bottom: 50px;

}

.center_a {
    padding: 15px 30px;
    border-style: none;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
    margin-left: 130px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;

}

.center_div2 {
    width: 280px;
    height: 350px;
    background-image: url('../img/Rectangle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 350px;
    margin-top: 20px;
}

.center_div3 {
    width: 230px;
    height: 220px;
    border: 1px solid#1D2067;
    background: #1D2067;
    box-shadow: -7.15089px 14.3018px 53.6316px rgba(82, 114, 139, 0.24);
    border-radius: 8.93861px;
    margin-top: 20px;
    margin-left: -50px;

}

.center_p2 {
    width: 210px;
    text-align: center;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14.3018px;
    line-height: 17px;
    color: #8476AA;
}

/* center the end */
/* Center2 start */
.center_div4 {
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../img/Group\ 9.svg'), linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
}

.text {
    width: 850px;
    text-align: center;
    padding-top: 150px;
    margin-left: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.33px;
    color: #99EFD0;
}

.text2 {
    width: 414px;
    font-family: 'Gilroy-SemiBold';
    margin-left: 35%;
    text-align: center;
    margin-top: 32px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.div2 {
    width: 291px;
}

.div_h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    margin-bottom: 15px;

}

.div_p {
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;
}

/* Center2 the end */
/* New start */
.new {
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);

}

.new_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99EFD0;
}

img {
    margin-left: 150px;
}

.new_div2 {
    width: 470px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
}

.new_h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
}

.new_p {
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #8476AA;
    margin-top: 10px;
}

.new_btn {
    margin-top: 40px;
    padding: 15px 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F2994A;
    border-style: none;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
}

.new_div3 {
    background: url('../img/Group\ 9.svg');

}

.new_img {
    margin-left: 100px;
    margin-top: 90px;
}

/* New the end */
/* Right start */
.right {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: url('../img/Group\ 10.png'), linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    display: flex;
}

.right_div {
    margin-left: 150px;
    margin-top: 100px;
}

.right_img {
    margin-left: 130px;
}

.right_img2 {
    margin-left: -10px;
}

.right_h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: #99EFD0;
    margin-bottom: 20px;
}

.right_p {
    width: 400px;
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-bottom: 30px;
}

.right_div2 {
    width: 210px;
    float: left;
    margin-left: 30px;
}

.right_h6 {
    font-family: 'Inter';
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #99EFD0;

}

.right_p2 {
    width: 200px;
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
}

/* Right the end */
/* Left start */
.left {
    height: 500px;
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    padding-top: 10%;
}

.left_div {
    margin: auto;
    width: 940px;
    height: 325px;
    background: rgba(60, 62, 125, 0.19);
    backdrop-filter: blur(67px);
    border-radius: 5px;
}

.left_h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #F2994A;
    padding-top: 30px;
    margin-bottom: 30px;
}

.left_p {
    width: 390px;
    margin-left: 28%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #95A1BB;
}

.email {
    background: #F6F6F6;
    opacity: 0.1;
    border-radius: 5px;
    border-style: none;
    Width: 308px;
    Height: 56px;
    margin-left: 250px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-left: 30px;
    opacity: 0.2;
}

.send {
    width: 128px;
    height: 56px;
    border-style: none;
    background: #F2994A;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: -5px;
}

.left_p2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-left: 30%;
    margin-top: 40px;
}

/* Left the end */
/* Footer start */
.footer {
    background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
    height: 500px;
}

.footer_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    margin-left: 170px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.footer_div2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_div {
    width: 95px;
}

.footer_h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 30px;
}

.footer_p3 {
    display: flex;
    color: white;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8D8D8D;
    word-spacing: 10px;
    margin-left: 400px;
}